<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
    <!-- second stage of adding a hike to the DB, displays name, desc, location and lets user select tags or add -->
<body class="container">

    <h1 th:text="${title}">Default Title</h1>

    <nav th:replace="fragments :: navigation"></nav>

    <form method = "post" th:object="${form}" action="/tags/add">

        <div class = "form-group">
            <label th:for="${tagId}">Tags</label>
            <select name="tagId">
                <option th:each = "tag : *{tags}"
                        th:text = "${tag.name}"
                        th:value = "${tag.id}"></option>
            </select>
            <span th:errors="*{tagId}" class="error"></span>
            <span th:errors="*{hikeId}" class="error"></span>
        </div>

        <input type = "hidden" name="hikeId" th:value="${hikeId}" />

        <input type = "submit" value="Add Tags" />

    </form>

</body>
</html>