<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragment :: head">
</head>
<body>

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragment :: navigation"></nav>

    <form method="post">
        <label for="name">Name</label>
        <input type="text" id="name" name="hikeName" />

        <label for="description">Description</label>
        <input type="text" id="description" name="hikeDescription" />

        <label for="location">Location</label>
        <input type="text" id="location" name="hikeLocation" />

        <input type="submit" value="Share this hike"/>
    </form>
</body>
</html>