<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragment :: head">
</head>

<body>
    <h1 th:text="${title}"></h1>

    <nav th:replace="fragment :: navigation"></nav>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Location</th>
        <th>Tags</th>
    </tr>
    <tr th:each="hike : ${hikes}">
        <td><a th:href="'home/view/'+${hike.id}" th:text="${hike.name}"></a></td>
        <td th:text="${hike.description}"></td>
        <td th:text="${hike.location}"></td>
        <td>Tags!</td>  <!-- TODO need to update (.name) for many to many, this is a filler -->
    </tr>

</table>

</body>
</html>