<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragment :: navigation"></nav>

    <tr th:object="${newHike}">
        <p>Name:</p>
        <p th:text="${name}"></p>
        <p>Description:</p>
        <p th:text="${description}"></p>
        <p>Location:</p>
        <p th:text="${location}"></p>
        <p>Tags!</p>  <!-- TODO need to update (.name) for many to many, this is a filler -->
    </tr>

    <li th:each="tag: ${tags}" th:text="${tags.name}"></li>

<p> <a th:href="'home/add-tags/' + ${hikeId}">Add Tags</a></p>
</body>
</html>